In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('titanic.csv', header = 0)
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [40]:
from sklearn.model_selection import train_test_split
import keras
from keras.layers import Dense
from keras.models import Sequential
from keras.utils import to_categorical
from keras.callbacks import EarlyStopping
#from keras.optimizers import SGD

### Extracting Predictors from DataSet
predictors = df.drop(['survived'], axis=1).values

###Extracting target from datset for Classification
target = to_categorical(df.survived)
n_cols = predictors.shape[1]

SEED = 42
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size = 0.3, stratify = target, random_state =SEED)


model = Sequential()

model.add(Dense(100, activation='relu', input_shape = (n_cols, )))
model.add(Dense(100, activation = 'relu'))
model.add(Dense(2, activation='softmax'))

model.compile(optimizer='adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])

model.fit(X_train, y_train, validation_split = 0.3, epochs = 30, callbacks = [EarlyStopping(patience=2)])

Train on 641 samples, validate on 275 samples
Epoch 1/30

ValueError: could not convert string to float: 'Coutts, Master. William Loch "William"'